.sidebar {
  width: 70px;
  height: 100vh;

  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.90); 
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.90);
}

.sidebar .logo {
  width: 22px;
}

.sidebar .logo-expand {
  width: 106px;
}

.sidebar.expand {
  width: 250px;
}

.sidebar .fa-bars {
  cursor: pointer;
}
